

body {
    background-color:rgb(242, 242, 235);
    margin: 8px;
    display: block;
    padding: 8px;
    border: double orangered;
    text-align: center;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
background-color: white;
margin: 20px;
font-size: 18px;
}
#mainHeading {
    color: red;
    font-size: xx-small;
}

article.restaurant {
margin-top: 40px;
margin-top: 40px;
}

p.funParagraph {
    color: green;
    font-size: xx-small;
    margin-top: 100px;
    margin-bottom: 100px;
}
#bigTitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}